.img-container{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.img-container-dark{
    background-color: rgba(0, 0, 0, 0.35);
}
.img-container .header-box{
    /* top: 50%;
    transform: perspective(1px) translateY(-50%); */
}
.img-container .header-box .name{
    font-size: 3.5em;
}
.img-container .header-box .slogan{
    font-size: 1.3em;
    color: #cecece;
}
.img-container .header-box .b-local{
    background-color: rgba(0, 0, 0, 0);
    border-radius:2em;
    padding: .4em 1.3em;
    font-size: .95em;
    border: 2px solid #fff;
}
header{
    z-index: 1;
}
nav{
    padding: .85em 4em;
    left: 0;
    right: 0;
    z-index: 2;
}
nav .logo img{
    width: 45px;
}
main{
    padding: 10px;
}
main .tour_section div{
    width: 314px;
    height: 409px;
    border-radius: 23px;
    background-color: black;
}
main .tour_section div:not(:last-child){
    margin-right: 10px;
}
