.img-container{
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
}
.img-container-dark{
    background-color: rgba(0, 0, 0, 0.35);
}
.img-container .header-box{
    /* top: 50%;
    transform: perspective(1px) translateY(-50%); */
}
.img-container .header-box .name{
    font-size: 3.5em;
}
.img-container .header-box .slogan{
    font-size: 1.3em;
    color: #cecece;
}
.img-container .header-box .slogan-resize{
    width: 90vw;
}
.img-container .header-box .b-local{
    background-color: rgba(0, 0, 0, 0);
    border-radius:2em;
    padding: .4em 1.3em;
    font-size: .95em;
    border: 2px solid #fff;
    transition: .2s cubic-bezier(.25,.8,.5,1),color 1ms;
}
.img-container .header-box .b-local:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
header{
    z-index: 1;
}
.nav-logo-h{
    padding: .85em 5vw;
    left: 0;
    right: 0;
    z-index: 2;
}
.nav-logo-h .logo img{
    width: 45px;
}
main{
    box-sizing: border-box;
    padding: 3em 0 0 0;
}
.tour_section{
    margin-bottom: 3em;
}
.tour_section .tour_box{
    margin: auto;
    width: 900px;
}
.flex-container {
    display: flex;
}
.flex-container > div {
    flex: 1;
}
.section-name{
    display: block;
    font-size: 30pt;
    margin-bottom: 5px;
}
.section-name > div{
    flex: none;
    display: inline-block;
    vertical-align: middle;
}
.section-name .all-button{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px 15px;
    background: linear-gradient(45deg, #3cd48f 0%,#55a6a1 100%,#55a6a1 100%);
    display: none;
}
.section-name .all-button img{
    width: 13px;
}
.section-name .all-button span{
    color: #fff;
    font-weight: bold;
    font-size: 9pt;
}
.tour_card{
    background-color: #ebebeb;
    height: auto;
    border-radius: 23px;
    margin: 7.5px;
}
.tour_card .card-img{
    background-color: #000;
    height: 234px;
    border-radius: 23px 23px 0 0;
    background-position: center;
    background-size: cover;
}
.tour_card .card-info{
    padding: 6px 10px 10px 10px;
}
.tour_card .card-info .status{
    color: #fff;
    background: linear-gradient(45deg, #3cd48f 0%,#3cd4c7 100%,#7db9e8 100%);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    float: right;
    position: relative;
    top: -36px;
    font-size: 13pt;
}
.tour_card a{
    text-decoration: none;
    color: inherit;
}
.tour_card .card-info .location{
    color: #535353;
    font-size: 9pt;
    font-weight: bolder;
    margin-bottom: .5em;
}
.tour_card .card-info .name{
    color: #000;
    font-size: 14pt;
    font-weight: bolder;
    margin-bottom: .5em;
    height: 2.4em;
    line-height: 1.2em;
    overflow: hidden;
}
.tour_card .card-info .rate{
    margin-bottom: .4em;
}
.tour_card .card-info .rate img{
    width: 13px;
    margin-right: 3px;
}
.tour_card .card-info .rate span{
    font-weight: bold;
    color: #000;
    font-size: 11pt;
}
.tour_card .card-info .autor{
    flex-direction: row;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.tour_card .card-info .autor .img{
    width: 29px;
    height: 29px;
    border-radius: 100%;
    background-color: #000;
    background-size: 100%;
}
.tour_card .card-info .autor .tour-by{
    font-size: 9.5pt;
    margin: 3px 0 0 5px;
}
.tour_card .card-info .autor .tour-by span{
    font-weight: bold;
    color: #61c9f8;
}


.blog_card{
    background-color: #ebebeb;
    height: 377px;
    border-radius: 23px;
    margin: 7.5px;
}

.blog_card .blog-img{
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background-size: cover;
}
.blog_card .blog{
    padding: 16px 12px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 23px;
}
.blog_card .blog .header{
    color: #fff;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 5px;
}
.blog_card .blog .date{
    color: #c6c6c6;
    font-size: 9pt;
    margin-bottom: 12px;
}
.blog_card .blog .text{
    color: #e2e2e2;
    font-size: 12.9pt;
}
.blog_card .blog .text-more{
    color: #fff;
    font-size: 12.9pt;
    font-weight: bold;
}

.blog_card .autor{
    position: absolute;
    bottom: 16px;
    flex-direction: row;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.blog_card .autor .img{
    width: 29px;
    height: 29px;
    border-radius: 100%;
    background-color: #000;
    background-size: 100%;
}
.blog_card .autor .blog-by{
    color: #eee;
    font-size: 9.5pt;
    margin: 3px 0 0 7px;
}
.blog_card .autor .blog-by span{
    font-weight: bold;
    color: #61c9f8;
}
.blog_card .share{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    width: 55px;
    height: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    float: right;
    position: relative;
    top: -5px;
    font-size: 13pt;
}
.blog_card .share img{
    align-items: center;
    position: relative;
    top: 3px;
    left: -2px;
    width: 30px;
    filter: invert(100%);
}




.b-tour-guide{
    width: 100%;
    height: auto;
}
.b-tour-guide .img{
    background-size: cover;
    background-position: center;
}
.b-tour-guide .img .img-g{
    padding: 3em 0.2em;
    background: linear-gradient(45deg, rgba(60, 212, 143, 0.72) 0%, rgba(85, 166, 161, 0.72) 100%);
}
.b-tour-guide .img .img-g .text-box{
    flex-direction: column;
    color: #fff;
}
.b-tour-guide .img .img-g .text-box .big-text{
    font-size: 28px;
    margin-bottom: 10px;
}
.b-tour-guide .img .img-g .text-box .info{
    font-size: 13px;
    width: 27vw;
    margin-bottom: 15px;
}
.b-tour-guide .img .img-g .text-box .button{

}
.b-tour-guide .img .img-g .text-box .button button{
    border: none;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 2em;
    padding: 0.5em 1em;
    color: #fff;
    font-size: 13px;
    outline: none;
}



footer .color-box{
    width: 100%;
    padding: 2em 0;
    height: auto;
    background-color: #f1f1f1;
}
footer .color-box a{
    text-decoration: none;
    color: inherit;
}

footer .color-box .sm-button{
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .5s cubic-bezier(.25,.8,.5,1),color 1ms;
}
footer .color-box .sm-button:first-child{
    margin-left: 30px;
}
footer .color-box .sm-button .icon{
    margin-right: 10px;
}
footer .color-box .facebook-b:hover{
    background-color: rgba(56, 86, 158, 0.15);
}
footer .color-box .mail-b:hover{
    background-color: rgb(193, 0, 0, 0.1);
}
footer .color-box .sm-button .icon img{
    height: 30px;
}
footer .color-box .sm-button .name{
    text-transform: uppercase;
}




/* MEDIA */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tour_section .tour_box{
        margin: auto;
        width: 290px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .section-name{
        display: block;
        font-size: 20pt;
        margin-bottom: 5px;
    }
    .all-view{
        margin-left: 0;
    }
    .b-tour-guide .img .img-g .text-box .info{
        width: 70vw;
    }
    footer .color-box .link{
        flex-direction: column;
    }
    footer .color-box .sm-button:first-child{
        margin-left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tour_section .tour_box{
        margin: auto;
        width: 290px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .section-name{
        display: block;
        font-size: 20pt;
        margin-bottom: 5px;
    }
    .all-view{
        margin-left: 0;
    }
    .b-tour-guide .img .img-g .text-box .info{
        width: 60vw;
    }
    footer .color-box .link{
        flex-direction: row;
    }
    footer .color-box .sm-button:first-child{
        margin-left: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tour_section .tour_box{
        margin: auto;
        width: 290px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .section-name{
        display: block;
        font-size: 20pt;
        margin-bottom: 5px;
    }
    .all-view{
        margin-left: 0;
    }
    .b-tour-guide .img .img-g .text-box .info{
        width: 45vw;
    }
    footer .color-box .link{
        flex-direction: row;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .tour_section .tour_box{
        margin: auto;
        width: 900px;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .section-name{
        display: block;
        font-size: 30pt;
        margin-bottom: 5px;
    }
    .all-view{
        margin-left: 15px;
    }
    .b-tour-guide .img .img-g .text-box .info{
        width: 35vw;
    }
    footer .color-box .link{
        flex-direction: row;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tour_section .tour_box{
        margin: auto;
        width: 900px;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .section-name{
        display: block;
        font-size: 30pt;
        margin-bottom: 5px;
    }
    .all-view{
        margin-left: 15px;
    }
    .b-tour-guide .img .img-g .text-box .info{
        width: 350px;
    }
    footer .color-box .link{
        flex-direction: row;
    }
}
